- var processMore = !count;
include includes/head
link(rel='stylesheet', href='/css/coupon.css')
body
  div.center
    a.number(href='/progress') Number of Coupons: #{count}

  button.all Mark all & Refresh!
  table
    thead
      tr
        //th
        th Site
        th Code
        th Title
        th Expiration
      each coupon in coupons
        tr
          td.hidden
            button(id=coupon._id).submit submit
          td #{coupon.Site}
          td #{coupon.Code}
          td #{coupon.Title}
          td #{coupon.Expires}
  #{processMore}
  if processMore
    a(href='/progress') Out of Coupons, Process more!
block content
  section(data-ng-view)

script(type='text/javascript', src='http://code.jquery.com/jquery-2.0.3.min.js')
script(type='text/javascript', src='/js/footer.js')

