//extends layouts/default
div Number of Coupons: #{coupons.length}
table
    thead
      tr
        th Site
        th Code
        th Title
        th Expiration
    each coupon in coupons
      tr
        td #{coupon.Site}
        td #{coupon.Code}
        td #{coupon.Title}
        td #{coupon.Expires}

block content
  section(data-ng-view)
