
extends layouts/shark-layout

block head
  title Submit Some Coupons!

block content
  //div.center
  //  a.number(href='/progress') Number of Coupons: #{count}

  p
    span.note Note:
    |  The below coupons are not currently on the RMN site.  Highlighted coupons indicate codes for Top Tier Merchants, these are worth double points.  After you have found the best coupons on this page, hit the 'Mark All & Refresh' button to get more coupons ready to submit.


  button.all Mark all & Refresh!
  table
    thead
      tr
        //th
        th Site
        th Code
        th Title
        th Expiration
        th Tested
        th Tier
      each coupon in coupons
        td.hidden
          button(id=coupon._id).submit submit
        if coupon.tier
          tr.highlight
            td #{coupon.Site}
            td #{coupon.Code}
            td #{coupon.Title}
            td #{coupon.Expires}
            td #{coupon.Tested}
            td #{coupon.tier}
        else
          tr
            td #{coupon.Site}
            td #{coupon.Code}
            td #{coupon.Title}
            td #{coupon.Expires}
            td #{coupon.Tested}
            td #{coupon.tier}

  if processMore
    a(href='/progress') Out of Coupons, Process more!


